<%= provide(:title, "Home") %>
<div class="center jumbotron">
	<h1>Welcome to PairBnB V2</h1>
	<h2>This is the homepage</h2>
	<%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>