<h3>Listings</h3>

<ul class="list-group">
	<% @list.each do |listing| %>
		<li class="list-group-item">
			<h4><%= link_to listing.title, listing_path(listing) %></h4>
			<p>Location: <%= listing.country.name %></p>
			<p>Description: <%= listing.description %></p>
		</li>
	<% end %>
</ul>